html{
    font-size: 62.5%;
}
body{
    background: #121212;
    font-size: 16px;
}
.menu{
    background-color: #1c1c1c !important;
}
.menu a{
    color: white;
}
.active{
    color:#1e90ff !important;
}

.navbar{
    --bs-navbar-hover-color:#1e90ff !important;
}
.container{
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1.5rem;
    margin-top: 3rem;
    padding-bottom: 1.5rem;
    margin-bottom: 3rem;
    background-color: #1c1c1c;
    justify-content: center;
    justify-items: center;
}
.container h1{
    color:white;
    text-align: center;
}
.groupMainTextInput{
    position: relative;
    margin: 25px 0px 10px 0px;
}
.groupMainTextInput label{
    color: white;
}
.groupMainTextInput input{
    font-size: 1.4rem;
    padding: 4px 5px 4px 3px;
    display: block;
    width: 100%;
    border: 2px solid #ced4da;
    color: #333;
    background: 2px solid #ced4da;
}
.groupMainTextInput select{
    font-size: 1.4rem;
    padding: 4px 5px 4px 3px;
    display: block;
    width: 100%;
    border: 2px solid #ced4da;
    color: #333;
    background: 2px solid #ced4da;
}
.groupMainTextInput button{
    font-size: 1.4rem;
    padding: 4px 5px 4px 3px;
    display: block;
    width: 100%;
    border: 2px solid #ced4da;
    color: #333;
    background: 2px solid #ced4da;
    border-radius: 1rem;
}
.error{
    color: red;
}
.success {
    background: #1e90ff;
    border: none !important;
    color: white !important;
}
.custom-toast-success {
    background-color: #28a745;
    color: white;
}

.custom-toast-error {
    background-color: #dc3545;
    color: white;
}
.copy-icon {
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
    fill: #333; /* Color del icono */
}

.copy-icon:hover {
    fill: #007bff; /* Color del icono al pasar el cursor */
}
.container_text{
    background: antiquewhite;
    border-radius: 1rem;
    text-align: center;
}
.table-purple {
    --bs-table-color: #000 !important; /* Texto negro */
    --bs-table-bg: #d9c2f0 !important; /* Fondo morado claro */
    --bs-table-border-color: #bba8d6 !important; /* Borde morado */
    --bs-table-striped-bg: #cbb3e8 !important; /* Fondo para filas rayadas */
    --bs-table-striped-color: #000 !important; /* Texto negro en filas rayadas */
    --bs-table-active-bg: #b99dd6 !important; /* Fondo para filas activas */
    --bs-table-active-color: #000 !important; /* Texto negro en filas activas */
    --bs-table-hover-bg: #c1a6e0 !important; /* Fondo para filas al pasar el ratón */
    --bs-table-hover-color: #000 !important; /* Texto negro al pasar el ratón */
    color: var(--bs-table-color) !important; /* Aplica el texto negro */
    border-color: var(--bs-table-border-color) !important; /* Aplica el borde morado */
}
.table-orange {
    --bs-table-color: #000 !important; /* Texto negro */
    --bs-table-bg: #ffd966 !important; /* Fondo naranja claro */
    --bs-table-border-color: #e6b800 !important; /* Borde naranja oscuro */
    --bs-table-striped-bg: #ffcc33 !important; /* Fondo para filas rayadas */
    --bs-table-striped-color: #000 !important; /* Texto negro en filas rayadas */
    --bs-table-active-bg: #e6b800 !important; /* Fondo para filas activas */
    --bs-table-active-color: #000 !important; /* Texto negro en filas activas */
    --bs-table-hover-bg: #ffdb4d !important; /* Fondo para filas al pasar el ratón */
    --bs-table-hover-color: #000 !important; /* Texto negro al pasar el ratón */
    color: var(--bs-table-color) !important; /* Aplica el texto negro */
    border-color: var(--bs-table-border-color) !important; /* Aplica el borde naranja */
}

.table {
    table-layout: fixed;
    width: 100%;
}

.table th,
.table td {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.6rem;
    padding: 0.5rem;
}

@media (min-width: 100px) and(max-width: 576px) {
    .table-container {
        max-width: 3.5rem;
    }

    .table th,
    .table td {
        font-size: 0.5rem;
        width: auto;
    }

    h1 {
        font-size: 1.2rem;
    }
    button{
        font-size: .7rem !important;
    }
    p{
        margin: 0 !important;
        margin-bottom: 2px !important;
    }
}
.container-navigation{
    background-color: #1c1c1c;
}
.navigation-main{
    display: flex;
    justify-content: space-around;
}
.navigation-main a{
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    padding: 1rem;
    font-weight: 700;
}
.navigation-main a:hover {
    background-color: #FFD700;
    color: black;
}
@media (max-width: 400px) {
    .navigation-main{
        flex-direction: column;
        align-items: center;
    }
    .navigation-main a{
        width: 100%;
        text-align: center;
    }
}
.modal-body{
    background-color: #1B1B1B !important;
}
.modal-footer{
    background-color: #1B1B1B !important;
    border-top: 0;
}






